# Auto detect text files and perform LF normalization
* text=auto
<html>
<body> 
<head>
<title>Kira Foxgang </title>
</head>
<p> SOmething about myself</p>

<h3>What can i do? </h3> <br>
<a href="/coding.html"> Coding</a>
<br>
<a href="/edit.html"> Editing </a>
<br>
<a href="/fun"> Fun <a/>
<br>
<br>
<h3>Planing</h3> <br>
<a href="/Aero"> Aeroponic </a>
<br>
<a href="/cod.html"> Progarming and coding</a>
<br>
<br>
<h3>Kira Info</h3>
<br>
<a href="/info.html">links</a>
<br>